* {
  margin: 0;
  padding: 0;
}

.container-title {
  font-size: 1.2rem;
  font-family: sans-serif;
  text-align: center;
  margin-top: 15px;
  color: #2a2b2a;
}


.element {
  background-color: #bcf5c5;
  padding: 1em;
}
